@CHARSET "UTF-8";
.code{
	background:url(images/code_bg.jpg);
	font-family:Arial;
	font-style:italic;
	color:blue;
	font-size:30px;
	border:0;
	padding:2px 3px;
	letter-spacing:3px;
	font-weight:bolder;             
	float:left;            
	cursor:pointer;
	width:150px;
	height:45px;
	line-height:45px;
	text-align:center;
	vertical-align:middle;
	text-decoration:line-through;
}